include componentes/configuraciones.pug
doctype html
html(lang="en")
	include componentes/head.pug
	body
        include componentes/header.pug
        block contenidos
        include componentes/footer.pug