//- Declarar variables 
-var titulo = "Titulo principal"
-var titulo2 = "Platzi Games"
//- Declarar varias variables
-var titulos = ["Titulo principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "david"

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" , href="/css/ejercicio-pug.css" )
		title Pagina web nueva
	body
		header
			h1 #{titulo2}
			if usuario 
				a Hola #{usuario}
			else 
				a.boton Registro 
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2=  titulos[0]  
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid accusantium quae ratione ad ipsa, maxime at itaque magni consequatur expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio. Deleniti, ullam omnis?
					span expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio.
				a.boton Leer más!
		ul 
			each titulo in titulos
				li=titulo

