h1 Hola soy un h1 
p hola soy un p 
p esta como bien práctico este preprocesador ALV
p Nueva compilación

//- Identación
div
	h1 Este es el hijo del primer div
	div
		p Este es un hijo del segundo div 

