//- Declarar variables 
-var titulo = "Titulo principal"
-var titulo2 = "Platzi Games"
//- Declarar varias variables
-var titulos = ["Titulo principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
//- -var usuario = "david"
-var enlaces = ['Acerca', 'Noticias', 'Contacto']
//- Creando mixin
mixin caja(imagen,titulo,contenido)
	.caja 
	.caja__imagen: img(src="images/"+imagen)
	.caja__contenido 
		h3=titulo 
		p=contenido
