extend componentes/plantilla.pug
block contenidos
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2=  titulos[0]  
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid accusantium quae ratione ad ipsa, maxime at itaque magni consequatur expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio. Deleniti, ullam omnis?
					span expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio.
				a.boton Leer más!

		main.contenido
			+caja('imagen.png' ,titulos[1],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid accusantium quae ratione ad ipsa, maxime at itaque magni consequatur expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio. Deleniti, ullam omnis?')
			+caja('imagen.png' ,titulos[2],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid accusantium quae ratione ad ipsa, maxime at itaque magni consequatur expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio. Deleniti, ullam omnis?')
			+caja('imagen.png' ,titulos[3],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid accusantium quae ratione ad ipsa, maxime at itaque magni consequatur expedita pariatur dignissimos laudantium doloribus. Vitae, tenetur distinctio. Deleniti, ullam omnis?')


